body{
    background-image: linear-gradient(rgb(5, 127, 38), rgb(123, 206, 22), rgb(236, 243, 238));
    display: flex;
    height: 100dvh;
    width: 100wh;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: aliceblue;
    width: 400px;
    height: 70%;
    padding: 8px;
    border-radius: 10px;
}
.output{
    color: red;
    font-size: 20px;
}
.results{
    color: red;
    font-size: 20px;
}
.text{
    font-size: 40px;
}
.id{
    font-size: 30px;
}

.btn{
    width: 20%;
    height: 10%;
    & :hover{
        transform: scale(1.5s);
    }

}